# Dependencies
/node_modules
/.pnp
.pnp.js

# Build
/.next
/out
/next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
/coverage

# Misc
.DS_Store
*.pem

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#Intellij
*.iml
/.idea/*

package-lock.json
/scripts/syncYupoo.ts
tsconfig.scripts.json
/supabase/.temp/cli-latest
/supabase/config.toml
/deploy-email.sh
/EMAIL_SETUP.md
/supabase/.temp/gotrue-version
/supabase/.temp/pooler-url
/supabase/.temp/postgres-version
/supabase/.temp/project-ref
/QUICK_START_EMAIL.md
/supabase/.temp/rest-version
/supabase/.temp/storage-version
